html
  body
    footer.footer
      a(class='footer__copyright' href='#' aria-label='typoteka-logo')
        img(src='/img/icons/logo-image-only.svg' width='50' height='50' alt='typoteka-logo')
      span(class='footer__dot')
      p(class='footer__text') Типотека, 2019
